{% extends "rider/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Request</legend>
                <h2>Decide to Join this request?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Join</button>
                <a class="btn btn-outline-secondary" href="{% url 'sharer-search' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}